
.DS_Store
Practice/Practice_4/.idea/.name
Practice/Practice_4/.idea/encodings.xml
Practice/Practice_4/.idea/misc.xml
Practice/Practice_4/.idea/modules.xml
Practice/Practice_4/.idea/Practice_4.iml
Practice/Practice_4/.idea/vcs.xml
Practice/Practice_4/.idea/workspace.xml
Practice/Practice_4/cmake-build-debug/cmake_install.cmake
Practice/Practice_4/cmake-build-debug/CMakeCache.txt
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Practice/Practice_4/cmake-build-debug/CMakeFiles/clion-environment.txt
Practice/Practice_4/cmake-build-debug/CMakeFiles/clion-log.txt
Practice/Practice_4/cmake-build-debug/CMakeFiles/cmake.check_cache
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeOutput.log
Practice/Practice_4/cmake-build-debug/CMakeFiles/feature_tests.bin
Practice/Practice_4/cmake-build-debug/CMakeFiles/feature_tests.c
Practice/Practice_4/cmake-build-debug/CMakeFiles/feature_tests.cxx
Practice/Practice_4/cmake-build-debug/CMakeFiles/Makefile.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/Makefile2
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/build.make
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/cmake_clean.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/depend.make
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/DependInfo.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/flags.make
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/link.txt
Practice/Practice_4/cmake-build-debug/CMakeFiles/P1_War.dir/progress.make
Practice/Practice_4/cmake-build-debug/CMakeFiles/progress.marks
Practice/Practice_4/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Practice/Practice_4/cmake-build-debug/Makefile
Practice/Practice_4/cmake-build-debug/P1_War.cbp
Practice/Practice_4/.idea/deployment.xml
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CMakeSystem.cmake
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/a.out
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeCache.txt
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmake.check_cache
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_e8ccf.dir/build.make.tmp
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_e8ccf.dir/depend.make
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_e8ccf.dir/flags.make.tmp
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeFiles/cmTC_e8ccf.dir/link.txt.tmp
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeLists.txt
Practice/Practice_4/cmake-build-debug/CMakeFiles/CMakeTmp/testCCompiler.c
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Project/Milestone_2/cmake-build-debug/Project.cbp
Project/Milestone_2/.idea/deployment.xml
Project/Milestone_2/.idea/encodings.xml
Project/Milestone_2/.idea/Milestone_2.iml
Project/Milestone_2/.idea/misc.xml
Project/Milestone_2/.idea/modules.xml
Project/Milestone_2/.idea/vcs.xml
Project/Milestone_2/.idea/workspace.xml
Project/Milestone_2/cmake-build-debug/cmake_install.cmake
Project/Milestone_2/cmake-build-debug/CMakeCache.txt
Project/Milestone_2/cmake-build-debug/Makefile
Project/Milestone_2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Project/Milestone_2/cmake-build-debug/CMakeFiles/progress.marks
Project/Milestone_2/cmake-build-debug/CMakeFiles/Makefile2
Project/Milestone_2/cmake-build-debug/CMakeFiles/Makefile.cmake
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/progress.make
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/link.txt
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/flags.make
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/DependInfo.cmake
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/depend.make
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/cmake_clean.cmake
Project/Milestone_2/cmake-build-debug/CMakeFiles/mahjong.dir/build.make
Project/Milestone_2/cmake-build-debug/CMakeFiles/feature_tests.cxx
Project/Milestone_2/cmake-build-debug/CMakeFiles/feature_tests.c
Project/Milestone_2/cmake-build-debug/CMakeFiles/feature_tests.bin
Project/Milestone_2/cmake-build-debug/CMakeFiles/CMakeOutput.log
Project/Milestone_2/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
Project/Milestone_2/cmake-build-debug/CMakeFiles/cmake.check_cache
Project/Milestone_2/cmake-build-debug/CMakeFiles/clion-log.txt
Project/Milestone_2/cmake-build-debug/CMakeFiles/clion-environment.txt
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/a.out
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CMakeSystem.cmake
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Project/Milestone_2/cmake-build-debug/CMakeFiles/3.10.2/CMakeCCompiler.cmake
