
.DS_Store
Practice/Practice_4/.idea/.name
*.xml
*.iml
*.cmake
*.txt
*.bin
*.out
*.c
Practice/Practice_4/cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Practice/Practice_4/cmake-build-debug/CMakeFiles/cmake.check_cache
*.log
Practice/Practice_4/cmake-build-debug/CMakeFiles/feature_tests.cxx
Practice/Practice_4/cmake-build-debug/CMakeFiles/Makefile2
*.make
Practice/Practice_4/cmake-build-debug/CMakeFiles/progress.marks
Practice/Practice_4/cmake-build-debug/Makefile
Practice/Practice_4/cmake-build-debug/P1_War.cbp
